
<div class="container">
  <div class="row">
    <div class="col-md-12 board">
      <div class="info-top">
        <p>このサイト（CJ cloud)はカナダと日本をインターネットで繋ぐ掲示板です。この掲示板は完全無料です。カナダ在住の人には日本人同士を繋げることができる掲示板（クラシファイド）です。投稿したい時はユーザー登録をお願いします。投稿のエリアは近くの場所を選んでください、ブログにはカナダの情報などが
        書いてありますので参考にしてください。これからどんどんアップデートしていきますので、ご意見等ございましたら<%= link_to "お問い合わせ", inquiry_path %>までメールを送ってください。</p>
      </div>
      <h2 class="top-heading">掲示板の新着投稿</h2>
      
      <div class="link-none">
      <% @boards.each do |board| %>
        <%= link_to board do %>
          <div class="b-list">
            <section class="b-content">
              <div class="b-top-list">
                <ul>
                  <li class="b-li-area label label-success sp-only"><%= board.b_area.name.truncate(10, separator:':') %></li><li><span class="b-li-area label label-success sp-none"><%= board.b_area.name %></span></li>
                  <li class="b-li-category label label-info sp-only"><%= board.b_category.name.truncate(10, separator:':') %></li><li><span class="b-li-category label label-info sp-none"><%= board.b_category.name %></span></li>
                  <li class="b-li-updated label label-default"><%= board.updated_at %></li>
                </ul>
              </div>
              <div class="b-btm-li">
                <h2 class="b-li-title"><span class="sp-none"><%= board.title.truncate(25, omission: '...') %></span><div class="sp-only"><%= board.title.truncate(25, omission: '...') %></div></h2>
              </div>
            </section>
          </div>
        <% end %>
      <% end %>
      </div>
      <h2 class="top-heading">クラシファイドの新着投稿</h2>
      <div class="link-none">
      <% @c_boards.each do |c_board| %>
        <%= link_to c_board do %>
          <div class="p-list">
            <figure>
              <%= image_tag c_board.image._100x100.url.to_s, class: "thumbnail li-img" %>
            </figure>
            <section class="p-content">
              <div class="top-list">
                <div class="li-area label label-success sp-only"><%= c_board.area.name.truncate(10, separator:':') %></div><div class="li-area label label-success sp-none"><%= c_board.area.name %></div>
                <div class="li-category label label-info sp-only"><%= c_board.category.name.truncate(10, separator:':') %></div><div class="li-category label label-info sp-none"><%= c_board.category.name %></div>
                <div class="li-updated label label-default"><%= c_board.updated_at %></div>
                <div class="sp-only sp-li-title"><%= c_board.title.truncate(25, omission: '...') %></div>
              </div>
              <h2 class="li-title"><span class="sp-none"><%= c_board.title.truncate(25, omission: '...') %></span></h2>
              <p class="li-details"><span class="sp-none"><%= c_board.content.truncate(200, omission: '...') %></span><span class="sp-only"><%= c_board.content.truncate(100, omission: '...') %></p>
            </section>
          </div>
        <% end %>
      <% end %>
      </div>
    </div>
  </div>
</div>