<h2>クラシファイドの詳細</h2>

<div class="jumbotron">
  <div class="text-center title well">
    <%= @c_board.title %>
  </div>
  <div id="CjCarousel" class="carousel slide" data-ride="carousel">
  	<ol class="carousel-indicators">
  		<li class="active" data-target="#CjCarousel" data-slide-to="0"></li>
  		<li data-target="#CjCarousel" data-slide-to="1"></li>
  		<li data-target="#CjCarousel" data-slide-to="2"></li>
  		<li data-target="#CjCarousel" data-slide-to="3"></li>
  	</ol>
  	<div class="carousel-inner" role="listbox">
  		<div class="item active">
  			<%= image_tag @c_board.image.url.to_s %>
  		</div>
  		<div class="item">
  		  <%= image_tag @c_board.s_image.url.to_s %>
  		</div>
  		<div class="item">
  		  <%= image_tag @c_board.t_image.url.to_s %>
  		</div>
  		<div class="item">
  		  <%= image_tag @c_board.f_image.url.to_s %>
  		</div>
  	</div>
  	<a class="left carousel-control" href="#CjCarousel" role="button" data-slide="prev">
  		<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
  		<span class="sr-only">前へ</span>
  	</a>
  	<a class="right carousel-control" href="#CjCarousel" role="button" data-slide="next">
  		<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
  		<span class="sr-only">次へ</span>
  	</a>
  </div>
  
  <div class="container text-center view-info">
    <ul>
      <li>投稿者名：<%= @c_board.user.name %></li>
      <li>連絡先：<%= link_to "メールはこちら", c_board_inquiry_path(@c_board), class: "btn btn-link" %>　TEL：<%= @c_board.tel %></li>
      <li>更新日：<%= @c_board.updated_at %></li>
    </ul>
  </div>
  
  <div class="text-center container details">
    <h3>詳細</h3>
    <p><%= @c_board.content %></p>
  </div>
  
  
  <%= @c_board.category.name %>  <%= @c_board.area.name %>


  
  <div class="text-center edit-del">
      <%= link_to 'このメッセージを編集する', edit_c_board_path(@c_board), class: "btn btn-primary" %>
  
      <%= link_to 'このメッセージを削除する', @c_board, method: :delete, data: { confirm: '本当に削除してよろしいですか？' }, class: "btn btn-danger" %>
  </div>
</div>
<%= link_to '一覧に戻る', c_boards_path, class: "btn btn-info btn-block" %>
