<header>
  <!-- logo -->
  <div class="logo">
    <div class="container">
      <a href="/"><img src="/images/CJcloud-logo.png" alt="CJ cloud"></a>
    </div>
  </div>
   
  <!-- Static navbar -->
  <div class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
      </div>
     <div class="navbar-collapse collapse">
       <ul class="nav navbar-nav">
       <li class="nav-icon"><a href="/"><i class="glyphicon glyphicon-home"></i> Home</a></li>
       <li class="nav-icon"><%= link_to '<i class="glyphicon glyphicon-th-list"></i> クラシファイド'.html_safe, c_boards_path %></li>
       <li class="nav-icon"><a href="https://afficana.com"><i class="glyphicon glyphicon-pencil"></i> BLOG</a></li>
       <% if logged_in? %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle nav-icon" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="glyphicon glyphicon-user"></i> <%= current_user.name %> <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li class="nav-icon"><%= link_to '<i class="glyphicon glyphicon-list-alt"></i> My profile'.html_safe, user_path(current_user) %></li>
                  <li role="separator" class="divider"></li>
                  <li class="nav-icon"><%= link_to '<i class="glyphicon glyphicon-log-out"></i> Logout'.html_safe, logout_path, method: :delete %></li>
                </ul>
              </li>
            <% else %>
              <li class="nav-icon"><%= link_to '<i class="glyphicon glyphicon-thumbs-up"></i> Signup'.html_safe, signup_path %></li>
              <li class="nav-icon"><%= link_to '<i class="glyphicon glyphicon-log-in"></i> Login'.html_safe, login_path %></li>
            <% end %>
       </ul>
     </div>
   </div>
  </div>
</header>